* {
  margin: 0;
  padding: 0;
}

/* navbar */
li.active>.drop {
  visibility: visible;
  animation: fadeInRight 0.3s ease;
  -webkit-animation: fadeInRight 0.3s ease;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.caps {
  font-variant: "small-caps";
}

<<<<<<< HEAD
.slider-carousel .owl-nav {
  position: absolute;
  left: 0;
  bottom: 1.5rem;
  width: 100%;
=======
.owl-nav {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.owl-nav button i {
  font-size: 2rem !important;
  opacity: 0.5;
  transition: all 0.3s;
>>>>>>> caa70050f35de63fd90fb49eda869ff90fadf51c
}

.rooms-carousel .owl-nav {
  position: absolute;
  left: 0;
  bottom: 3rem;
  width: 100%;
}

<<<<<<< HEAD
.owl-nav button:hover {
  background: transparent !important;
}

.slider-carousel.owl-carousel .owl-item.active img {
  animation: zoomIn 5s ease-in-out;
=======
.rooms-carousel .owl-nav button:hover {
  background: transparent !important;
}

.rooms-carousel.owl-carousel .owl-item.active img {
  animation: zoomIn 8s ease-in-out;
>>>>>>> caa70050f35de63fd90fb49eda869ff90fadf51c
}

@keyframes zoomIn {
  0% {
<<<<<<< HEAD
    transform: scale(1.2);
=======
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
>>>>>>> caa70050f35de63fd90fb49eda869ff90fadf51c
  }

  100% {
    transform: scale(1);
  }
}

<<<<<<< HEAD

@keyframes zoomImage {
=======
.zoomIn-image {
  animation: zoomIn 2s ease-in-out;
}

@keyframes zoomIn {
>>>>>>> caa70050f35de63fd90fb49eda869ff90fadf51c

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

<<<<<<< HEAD
.zoom-image {
  animation: zoomImage 8s ease-in-out infinite;
  transform-origin: center;
}

/* hamburger */

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #FFE9D2;
  stroke-width: 3.5;
  stroke-linecap: round;
}

.ham3 .top {
  stroke-dasharray: 20 130;
  stroke-dashoffset: -10px;
}

.ham3 .middle {
  stroke-dasharray: 40 140;
}

.ham3 .bottom {
  stroke-dasharray: 20 205;
  stroke-dashoffset: -10px;
}

.ham3:hover .top {
  stroke-dasharray: 40 130;
  stroke-dashoffset: 0px;
}

.ham3:hover .bottom {
  stroke-dasharray: 40 205;
  stroke-dashoffset: 0px;
}

.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}

.ham3.active .middle {
  stroke-dashoffset: -102px;
}

.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}
=======
.white-filter {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(1647%) hue-rotate(184deg) brightness(119%) contrast(100%);
}

@media (max-width: 768px) {

  .owl-nav {
    padding: 0;
  }

  .owl-nav button {
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-radius: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    transform: scale(0.8);
  }
}


.dropdown ul {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown.active ul {
  visibility: visible;
  opacity: 1;
}


.zoom-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Ensures image doesn't overflow */
  position: relative;
}

.zoom-image {
  animation: zoomIn 8s ease-in-out infinite;
  transform-origin: center;
}

.the-vilas {
  font-family: inherit;
  font-size: inherit;
  /* font-style: italic; */
  color: inherit;
}
>>>>>>> caa70050f35de63fd90fb49eda869ff90fadf51c
