@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::selection {
    @apply bg-coffee-700 text-coffee-400;
  }

  ::-webkit-scrollbar {
    @apply w-2 rounded-full bg-transparent;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent rounded-[100vw];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-dark rounded-full border border-solid border-white;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-coffee-800;
  }

  *,
  html,
  body {
    /* @apply bg-dark; */
    /* font-family: "Merriweather", serif; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
  }

  section {
    @apply py-12 sm:py-24 md:py-28 lg:py-32;
  }

  .nav-link {
    @apply capitalize relative block w-full text-white/80 hover:text-white py-3 px-3 text-base rounded-xl transition-all duration-200 ease-in-out;
  }

  .nav-link>a {
    @apply text-base;
  }

  .navlink-dropdown {
    @apply w-full capitalize text-white bg-dark/80 hover:bg-white/80 hover:text-dark py-3 lg:py-2 lg:px-2 text-sm rounded-xl transition-all duration-200 ease-in-out flex items-center lg:items-start justify-center flex-col gap-2;
  }

  .caps {
    font-variant: "small-caps";
  }

  .merriweather {
    font-family: "Merriweather", 'Times New Roman', Times, serif;
  }

  /* .number {
    font-family: "Kanit", serif;
  } */

  /* #navLinks::-webkit-scrollbar-track {
    @apply bg-coffee-400;
  }
  #navLinks::-webkit-scrollbar-thumb {
    @apply bg-coffee-600 rounded-full;
  }
  #navLinks::-webkit-scrollbar-thumb:hover {
    @apply bg-coffee-800 rounded-full;
  } */
}

/* @layer utilities {
  .underline-hover-effect::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 2px;
    background-color: #ffffff;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }

  .group:hover .underline-hover-effect::after {
    transform: scaleX(1);
  }
} */